<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "HelloFresh Web Challenge" parallel="tests" thread-count="2" configfailurepolicy="continue">
    <listeners>
        <listener class-name="com.hellofresh.qa.support.listener.TestNGListener"/>
    </listeners>

    <test name = "Chrome TEST">
        <parameter name="browser" value="Chrome"></parameter>
        <parameter name="url" value="http://automationpractice.com/index.php"></parameter>
        <classes>
            <class name="com.hellofresh.qa.tests.SiteTestSuite"></class>
        </classes>
    </test>

    <!--<test name = "FireFox TEST">
        <parameter name="browser" value="Firefox"></parameter>
        <parameter name="url" value="http://automationpractice.com/index.php"></parameter>
        <classes>
            <class name="com.hellofresh.qa.tests.EcommerceTestSuitee"></class>
        </classes>
    </test>-->

</suite>